@font-face {
    font-family: "Super Mario 256";
    src: url(SuperMario256.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
}

body{
    font-family: "Super Mario 256", sans-serif;
    text-align: center;
    background-image: url();
}

.font-for-buttons1{
    font-family: "Super Mario 256", sans-serif;
    border-width: 10px;
    border-color:brown;
    background-image: url();
    background-color:brown;
    width: ;
    height: ;
    font-size: ;
}

.font-for-buttons2{
    font-family: "Super Mario 256", sans-serif;
    border-width: 10px;
    border-color: whitesmoke;
    background-image: url();
    background-color: whitesmoke;
}

.section-green{
    color: green;
    font-size: 20px;
}

.section-red{
    color:red;
    font-size: 20px;
}

.section-white{
        color:  whitesmoke;
        font-size: 20px;
}

.section-darkgreen{
        color: darkgreen;
        font-size: 20px
}

.section-darkblue{
    color: darkblue;
    font-size: 20px
}

.location-for-button1 {
    position: fixed;
    top: 10px;
    left: 10px;
}
